$mobile-font-size: 15px;
$medium-font-size: 18px;
$web-font-size: 20px;

* {
  padding: 0 20px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background: #040408;
  color: #dedee7;
  font-size: $web-font-size;
}

footer {
  padding: 1rem;
}

main {
  background-image: url("images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.web-header {
  background-image: url("images/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  color: #dedee7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  width: 100%;
  padding: 0 40px;
}

.header-content h2 {
  text-align: left;
  margin: 0;
}

#title {
  margin-bottom: 4rem;
}

.skills-list {
  text-align: center;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: right;
  margin-bottom: 0;
}

a {
  color: #dedee7;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.skills-section {
  text-align: center;
  padding: 2rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: #dedee7;

    .skill-icon {
      width: 83px;
      filter: invert(1);
      object-fit: contain;
      margin-bottom: 0.5rem;
    }

    i {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    span {
      margin-top: 0.25rem;
    }
  }
}

.email {
  color: #98b2da;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
}

.profile-pic {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 15%;
}
.project-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.image-wrapper {
  flex-shrink: 0;
}

.project-image {
  width: 500px;
  transition: transform 0.3s ease;
  border-radius: 15%;

  &:hover {
    transform: scale(0.95);
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  html {
    padding: 0px;
  }

  main {
    padding: 0px;
  }
  .project-container {
    gap: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  body {
    font-size: $mobile-font-size;
    padding: 0px;
  }

  nav ul {
    justify-content: center;
    gap: 0rem;
  }
  section.about {
    padding: 0;
  }
  .about-content {
    flex-direction: column-reverse;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .profile-pic {
    max-width: 250px;
  }

  .project-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .project-image {
    max-width: 300px;
  }
  .web-header {
    max-height: 100px;
  }

  .skills-grid {
    padding-left: 0;
    padding-right: 0;
    gap: 1rem;

    .skill i {
      font-size: 2rem;
    }

    .skill span {
      font-size: 0.5rem;
    }
  }
  section#projects {
    padding: 0;
  }

  footer {
    height: 50px;
    a {
      .github-icon {
        width: 25px !important;
        height: 25px !important;
      }
    }
  }
}

@media (min-width: 801px) and (max-width: 1310px) {
  body {
    padding: 0 10px;
    font-size: $medium-font-size;
  }

  .web-header {
    height: 150px;
  }

  nav ul {
    justify-content: center;
  }

  .about-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .project-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  footer {
    height: 90px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #070723;
  color: #dedee7;
  font-size: 10px;

  a {
    display: inline-flex;
    align-items: center;
    color: #dedee7;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: #628cca;
    }

    .github-icon {
      padding: 0px;
      width: 35px;
      height: 35px;
    }
  }
}
