* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background: #040408;
  color: #dedee7;
  font-size: 30px;
}

header,
nav,
main,
footer {
  padding: 1rem;
}

header h3 {
  text-align: left;
  margin: 0 auto;
}

#title {
  margin-bottom: 4rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: right;
}

a {
  color: #628cca;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
}

.profile-pic {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 15%;
}

.data-image {
  width: 400px;
  transition: transform 0.3s ease;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.data-image:hover {
  transform: scale(0.95);
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    font-size: 20px;
  }
  nav ul {
    justify-content: center;
  }
  .about-content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about-text {
    text-align: left;
  }
  .profile-pic {
    max-width: 250px;
    border-radius: 15%;
    margin-bottom: 1rem;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #040408;
  color: #dedee7;
}
footer a {
  display: inline-flex;
  align-items: center;
  color: white;
  transition: color 0.3s ease;
}
footer a:hover, footer a:focus {
  color: #628cca;
}
footer a .github-icon {
  width: 50px;
  height: 50px;
}
