$mobile-font-size: 20px;
$web-font-size: 30px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background: #040408;
  color: #dedee7;
}

header,
nav,
main,
footer {
  padding: 1rem;
}

h3 {
  align-content: center;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

a {
  color: #628cca;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  body {
    font-size: $mobile-font-size;
  }
}

@media (min-width: 769px) {
  body {
    font-size: $web-font-size;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #040408;
  color: #dedee7;

  a {
    display: inline-flex;
    align-items: center;
    color: white;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: #628cca;
    }

    .github-icon {
      width: 40px;
      height: 40px;
    }
  }
}
